.header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
  margin: 20px;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 5px green, 0 0 5px inset green;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: start;
}

.personInfo {
  display: flex;
  column-gap: 15px;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.personPhoto {
  background-color: green;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 5px green, 0 0 5px inset green;
}

.info {
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 30px;
  text-wrap: nowrap;
  list-style: none;
  border-color: green;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 5px green, 0 0 5px inset green;
}

.generateButton {
  align-self: flex-end;
}

.controlButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
